<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加 / 删除</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
   	<script type="text/javascript" src="js/ljr/app.js"></script>
   	<script type="text/javascript" src="js/ljr/addUpdate.js"></script>
    <style>
        #app{
            width: 500px;
            margin: 50px auto 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <form>
        	<!--用户名-->
            <div v-if='isIf' class="form-group">
                <label for="un1">请输入用户名:</label>
                <input v-model.trim="users.username" type="text" class="form-control" id="un1" placeholder="请输入用户名">
            </div>
            
            <!--修改时显示用户名-->
            <div v-else class="form-group">
                <label for="up">修改信息</label>
                <input v-model.trim="users.username" type="text" class="form-control" id="up" disabled="disabled">
            </div>
        
            <!--密码-->
            <div class="form-group">
                <label for="un2">请输入密码:</label>
                <input v-model.trim="users.pwd" type="pwd" class="form-control" id="un2" placeholder="请输入密码">
            </div>
            
            <!--爱好-->
            <div class="form-group">
                <label for="ad">请输入爱好:</label>
                <input v-model.trim="users.love" type="text" class="form-control" id="ad" placeholder="请输入爱好">
            </div>
            
         	<!--地址 -->
         	<div class="form-group">
                <label for="un3">请输入地址:</label>
                <input v-model.trim="users.address" type="text" class="form-control" id="un3" placeholder="请输入地址">
            </div>
          
          
          	<!--邮箱 -->
          	<div class="form-group">
                <label for="un4">请输入邮箱:</label>
                <input v-model.trim="users.email" type="email" class="form-control" id="un4" placeholder="请输入邮箱">
            </div>

            <!--性别-->
            <div class="radio">
                <label>
                    <input v-model="users.sex" type="radio" name="optionsRadios" id="optionsRadios1" value="0">
                   	男
                </label>
                <label>
                    <input v-model="users.sex" type="radio" name="optionsRadios" id="optionsRadios2" value="1">
                   	 女
                </label>
            </div>
			
            <!--生日-->
            <div class="form-group">
                <input v-model="users.birthday" type="date">
            </div>
			
			<!-- 添加按钮 -->
            <button @click="userAddUpdate" type="button" class="btn btn-info btn-lg">提交</button>
        </form>
    </div>


</body>
</html>